@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
        cursor: pointer; // Cursor as pointer on hover
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 200px;
          background-color: transparent;
          color: themed("textColor");

          &:focus {
            outline: none;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        cursor: pointer; // Cursor as pointer on hover

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 150px;
        }
      }

      .logout-button {
        cursor: pointer;
      }
    }

    .search-results {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      background-color: themed("bg");
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid themed("border");
      border-top: none;
      z-index: 999;

      .search-result {
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: themed("primary");
          color: white;
        }
      }
    }
  }
}
